* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body {
  background-color: palevioletred;
  color: white;
}

main {
  background-color: coral;
  margin-bottom: 3em;
  text-align: center;
  padding: 2em;

}

h1 {


  margin-bottom: 1em;
}

img {
  width: 20%;
  border-radius: 50%;
  margin-right: 3em;
  object-fit: contain;
}



section {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  margin-bottom: 1em;
}

li,
h3,
p {
  margin-bottom: 1em;
}

p {
  margin-top: 1em;
}

h3 {
  font-family: monospace;
  font-weight: bolder;
  font-size: 1.2rem;
}

.playground {
  background-color: purple;
  margin-top: 2em;
  padding: 2.5em;
}

.playground h3 {
  text-decoration: underline;
  margin-top: 1em;
}

.playground3 {
  margin-bottom: 2em;
  padding: 2.5em;
  background-color: rgb(20, 117, 220);
  justify-content: space-evenly;
}

.playground3 div {
  margin-bottom: 1em;
}

.playground3 img {
  width: 30%;
}

button {
  padding: 1em 3em;
  cursor: pointer;
}

footer {
  padding: 4em;
  margin-top: 1.5em;
  display: flex;
  justify-content: space-evenly;
}

footer input {
  width: 100%;
}

form div {
  margin-bottom: 1em;

}

@media only screen and (max-width:660px) {

  footer,
  section,
  .playground3 {
    flex-direction: column;
    justify-content: center;
  }

  img {
    width: 50%;
  }

  body {
    padding: 2em;
  }
}